<body>

    <p> X: <span id="x-value"></span></p>
    <p> Y: <span id="y-value"></span></p>

    <img id="initImg" src="assets/images/1_calibration_alpr.jpg" style="width: 800px;" onclick="addCoord()">
    <img id="expandedImg" style="width: 800px;" onclick="addCoord()">


    <div class="row">
        <div class="column">
          <img src="assets/images/1_calibration_alpr.jpg" style="width:100%" onclick="myFunction(this);">
        </div>

        <div class="column">
            <img src="assets/images/1_calibration_ov.jpg" style="width:100%" onclick="myFunction(this);">
        </div>

      </div>

      <!-- The expanding image container -->
      <div class="container">

      </div>


</body>
